# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


agora-deamon
*sublime-*
Makefile

.qmake.stash

moc_*

server/Agora/
server/backup
server/logs
server/banned-*
server/usercache.json
server/whiteliste.json